[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=devuser
Group=www-data
WorkingDirectory=/home/devuser/backend-case19-lct/backend
ExecStart=/home/devuser/backend-case19-lct/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          myproject.wsgi:application

[Install]
WantedBy=multi-user.target