.fullWin {
  width: calc(61.2% - 50px);
  height: 91.3%;

  position: absolute;
  z-index: 1;
  top: 8.7%;
  right: 0;

  margin: 0 13.8% 0 50px;
}

.headPage {
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;

  color: rgba(0, 0, 0, 0.87);
}

.iconBack {
  margin: 0 15px 0 0;
}

.cards {
  height: max-content;
  width: 100%;

  display: flex;
  align-items: center;

  margin: 30px 0;
}

.charts {
  height: 50vh;

  display: flex;
  flex-direction: row;
}