.table {
  width: 100%;
}

.headFont {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;

  letter-spacing: 0.44px;

  color: #919699;
}

.tableText {
  text-align: right;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;

  letter-spacing: 0.15px;

  color: #5E6366;
}

.customCell {
  min-width: 15px;
  margin: 20px 0;

  display: flex;
  justify-content: end;
}

.nameText {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;

  text-align: left;
}

.row {
  height: 70px;

  justify-content: center;
  align-items: center;
}